.chef-items-container {
    width: 300px;
    height: 400px;
    background-color: #dbdbdb;
    margin-right: 25px;
    margin-left: 25px;
    border: 1px solid #969696;
    justify-content: center;
    margin-bottom: 15px;
}

.chef-img-container {
    width: 298px;
    height: 230px;
}

.chef-title-container {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size:  25px;
    font-family: bold;
    padding-bottom: 7px;
}

.chef-desc-container {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 275px;
    min-height: 50px;
    max-height: 50px;
}