@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-brand {
    font-family: cursive;
    font-size: 2em;
}

.navbar-text {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight:600;
    letter-spacing: 1.5px;
}

.header-link {
    margin-right: 25px;
}

.form-inline {
    margin-left: 5px;
}

.navbar-dark .navbar-text {
    color: white;
}

.navbar {
    padding-right: 12rem;
    padding-left: 12rem;
}

.navbar__link--active {
    border-bottom: 3px solid #29b6f6;
    transition: border-bottom .5s ease-in-out;
}