@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-brand {
    font-family: cursive;
    font-size: 2em;
}

.navbar-text {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight:600;
    letter-spacing: 1.5px;
    margin-right: 25px;
}

.header-icon {
    margin-right: 25px;
}

.form-inline {
    margin-left: 5px;
}

.navbar-dark .navbar-text {
    color: white;
}

.dropdown-toggle::after {
    color: white;
}

.navbar {
    padding-right: 12rem;
    padding-left: 12rem;
}

.nav-logout-text {
    cursor: pointer;
}

.nav-link {
    padding: 0;
}

.nav-logout-text {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }